<section class="form1">
    <div class="container">
        <h2 class="title2">Register</h2>

        <form #form="ngForm" (ngSubmit)="registerHandler(form)">
            <div class="user-details">
                <div class="input-box">
                    <label for="fName" class="details">First name</label>
                    <input #fNameInput="ngModel" ngModel type="text" name="fName" id="fName"
                        placeholder="Enter your first name..." required>

                    <ng-container *ngIf="fNameInput.touched">
                        <p class="error" *ngIf="fNameInput.errors?.['required']">
                            First name is required!
                        </p>
                    </ng-container>

                </div>
                <div class="input-box">
                    <label for="lName" class="details">Last name</label>
                    <input #lNameInput="ngModel" ngModel type="text" name="lName" id="lName"
                        placeholder="Enter your last name..." required>

                    <ng-container *ngIf="lNameInput.touched">
                        <p class="error" *ngIf="lNameInput.errors?.['required']">
                            Last name is required!
                        </p>
                    </ng-container>

                </div>
                <div class="input-box">
                    <label for="email" class="details">Email</label>
                    <input #emailInput="ngModel" ngModel type="email" name="email" id="email"
                        placeholder="Enter your email..." required [appEmail]="['bg', 'com']">

                    <ng-container *ngIf="emailInput.touched">
                        <p class="error" *ngIf="emailInput.errors?.['required']">
                            Email is required!
                        </p>
                        <p class="error" *ngIf="emailInput.errors?.['emailValidator']">
                            Email is not valid!
                        </p>
                    </ng-container>

                </div>
                
                <div class="input-box">
                    <label for="phone" class="details">Phone</label>
                    <input #phoneInput="ngModel" ngModel type="tel" name="phone" id="phone"
                        placeholder="Enter your phone..." required [minlength]="10" [maxlength]="10">

                    <ng-container *ngIf="phoneInput.touched">
                        <p class="error" *ngIf="phoneInput.errors?.['required']">
                            Phone is required!
                        </p>
                        <p class="error" *ngIf="phoneInput.errors?.['minlength']">
                            Invalid phone number!
                        </p>
                    </ng-container>

                </div>
                <div class="input-box">
                    <label for="password" class="details">Password</label>
                    <input #passwordInput="ngModel" ngModel type="password" name="password" id="password"
                        placeholder="Enter your password..." required [minlength]="6">

                    <ng-container *ngIf="passwordInput.touched">
                        <p class="error" *ngIf="passwordInput.errors?.['required']">
                            Password is required!
                        </p>
                        <p class="error" *ngIf="passwordInput.errors?.['minlength']">
                            Password must be at least 6 characters!
                        </p>
                    </ng-container>

                </div>
                <div class="input-box">
                    <label for="repass" class="details">Confirm the password</label>
                    <input #repassInput="ngModel" ngModel type="password" name="repass" id="repass"
                        placeholder="Enter your password..." required [minlength]="6">

                    <ng-container *ngIf="repassInput.touched">
                        <p class="error" *ngIf="repassInput.errors?.['required']">
                            Password is required!
                        </p>
                        <p class="error" *ngIf="repassInput.errors?.['minlength']">
                            Password must be at least 6 characters!
                        </p>
                    </ng-container>

                </div>

                <ng-container *ngIf="repassInput.touched">
                    <p class="error1" *ngIf="(passwordInput.value!=repassInput.value)">
                        Passwords don't match!
                    </p>
                </ng-container>

            </div>

            <div class="input-box1">
                <p>You already have an account? <a routerLink="/auth/login">Login</a></p>
            </div>

            <div class="button">
                <input [disabled]="form.invalid" type="submit" value="Register">
            </div>
        </form>
    </div>
</section>